name: Update anime TV

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - name: Depoyu Çek (Checkout)
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Çok önemli! Yoksa rebase/pull yapamaz

    - name: Python Kurulumu
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Gereklilikleri Yükle
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4

    - name: Scripti Çalıştır (anime.py)
      run: python anime.py

    - name: Değişiklikleri Otomatik Commit Yap
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Anime Kanalları Güncellendi (Otomatik Commit) $(date)"
        file_pattern: anime.html
        push_options: '--force'   # Hatanın çözümü
