name: Update Goals TV

on:
  schedule:
    - cron: '*/5 * * * *' # Her 5 dakikada bir çalışır
  workflow_dispatch: # Elle tetiklemek için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Depoyu Çek (Checkout)
      uses: actions/checkout@v3

    - name: Python Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Gereklilikleri Yükle
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Scripti Çalıştır (slck.py)
      run: python slck.py

    - name: Değişiklikleri Commit ve Push Yap
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add goals.html
        git diff --quiet && git diff --staged --quiet || (git commit -m "Kanallar Güncellendi $(date)" && git push)
